In [1]:
Student =['Ramesh', 'archana', 'vjay', 'pratik','ravi', 'nishad']

In [2]:
print(Student)

['Ramesh', 'archana', 'vjay', 'pratik', 'ravi', 'nishad']

In [3]:
#want to add pankaj in list

In [4]:
Student.append('pankaj')

In [5]:
print(Student)

['Ramesh', 'archana', 'vjay', 'pratik', 'ravi', 'nishad', 'pankaj']

In [6]:
print(Student.append('Ashwin'))

None

In [7]:
print(Student.append('Ashwin'))

None

In [8]:
print(Student)

['Ramesh', 'archana', 'vjay', 'pratik', 'ravi', 'nishad', 'pankaj', 'Ashwin', 'Ashwin']

In [9]:
Student.insert(2,'naveen')

In [10]:
print(Student)

['Ramesh', 'archana', 'naveen', 'vjay', 'pratik', 'ravi', 'nishad', 'pankaj', 'Ashwin', 'Ashwin']

In [11]:
Student.insert(0,'Babu')

In [12]:
print(Student)

['Babu', 'Ramesh', 'archana', 'naveen', 'vjay', 'pratik', 'ravi', 'nishad', 'pankaj', 'Ashwin', 'Ashwin']

In [13]:
#what is difference between append and insert-> append can add value at the last in list but useing insert we can add the value in any specific location in list.

In [14]:
#how to modify vlue in list: modifying last Ashwin to Ashwini

In [15]:
Student[9] = 'Ashwini'

In [16]:
print(Student)

['Babu', 'Ramesh', 'archana', 'naveen', 'vjay', 'pratik', 'ravi', 'nishad', 'pankaj', 'Ashwini', 'Ashwin']

In [17]:
#how to delete element from List

In [18]:
del Student[0]

In [19]:
print(Student)

['Ramesh', 'archana', 'naveen', 'vjay', 'pratik', 'ravi', 'nishad', 'pankaj', 'Ashwini', 'Ashwin']

In [21]:
del Student[3]

In [22]:
print(Student)

['Ramesh', 'archana', 'naveen', 'pratik', 'ravi', 'nishad', 'pankaj', 'Ashwini', 'Ashwin']